.service {
  min-height: 900px;
  background-color: #a17c00;


  .service__title {
    margin-top: -50px;
  }

  .service__content {
    text-align: center;

    h3 {
      text-align: center;
      @include font-size(38px);
      font-weight: 600;
      color: #fff;
      margin-top: 40px;
      margin-bottom: 15px;
      @media #{$info-tablet-horizontal}{
        @include font-size(32px);
      }
      @media #{$info-tablet-vertical-1}{
        @include font-size(28px);
      }
      @media #{$info-phone}{
        @include font-size(38px);
      }
    }

    p {
      text-align: center;
      color: #fff;
      font-weight: 300;

      @include font-size(26px);
      @media #{$info-tablet-horizontal}{
        @include font-size(22px);
      }

      @media #{$info-phone}{
        width: 70%;
        margin: 0 auto 20px auto;
        @include font-size(26px);
      }

    }

    @media #{$info-phone}{
      .item {
        &:hover {
          box-shadow: none;
        }
      }

    }
  }

  @media #{$info-phone-1}{

  }
}